@model AccountsSale.Models.Turnover.Announcement


@* <p>@Model.Name</p>
<p>@Model.Cost</p>
<p>@Model.Description</p>
<p>@Model.AccountEmail</p>
<p>@Model.AccountPassword</p> *@


<section class="order-product-element">
    <table class="order-product-container">
        <tr>

            <td class="one">
                @if (Model.IsVip)
                {
                    <div class="body-img-one">
                        <div class="img-one">
                            <img src="~/image/card/details_vip.png" class='card-img' alt="">
                        </div>
                    </div>
                }
                else
                {
                    <div class="body-img-one">
                        <div class="img-one">
                            <img src="~/image/card/details_just.png" class='card-img' alt="">
                        </div>
                    </div>
                }


            </td>

            <td>
                <div class="text-container">
                    <h2 class="text-title">@Model.Name</h2>
                    <hr>
                    <div class="text-content">
                        <h5 class="text-cost">@Math.Round(Model.Cost, 2)<span>руб.коп.</span></h5>
                        <h5 class="title-discrip">Описание товара</h5>
                        <p class="discription">
                            @Model.Description
                        </p>
                        <p class="discription"> <span>Логин аккаунта:</span>
                            @Model.AccountEmail
                        </p>
                        <p class="discription"> <span>Пароль от аккаунта:</span>
                            @Model.AccountPassword
                        </p>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="last-td">
                <a asp-action="Index" class="btn btn-outline-primary">Вернуться назад</a>
            </td>
        </tr>
    </table>

</section>
